@charset "UTF-8";

@font-face {
  font-family: "TT Interfaces";
  src: url("../fonts/TTInterfaces-MediumItalic.eot");
  src: local("TT Interfaces Medium Italic"), local("TTInterfaces-MediumItalic"), url("../fonts/TTInterfaces-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/TTInterfaces-MediumItalic.woff2") format("woff2"), url("../fonts/TTInterfaces-MediumItalic.woff") format("woff"), url("../fonts/TTInterfaces-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "TT Interfaces";
  src: url("../fonts/TTInterfaces-SemiBold.eot");
  src: local("TT Interfaces SemiBold"), local("TTInterfaces-SemiBold"), url("../fonts/TTInterfaces-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/TTInterfaces-SemiBold.woff2") format("woff2"), url("../fonts/TTInterfaces-SemiBold.woff") format("woff"), url("../fonts/TTInterfaces-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "TT Interfaces";
  src: url("../fonts/TTInterfaces-Medium.eot");
  src: local("TT Interfaces Medium"), local("TTInterfaces-Medium"), url("../fonts/TTInterfaces-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/TTInterfaces-Medium.woff2") format("woff2"), url("../fonts/TTInterfaces-Medium.woff") format("woff"), url("../fonts/TTInterfaces-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "TT Interfaces";
  src: url("../fonts/TTInterfaces-ExtraBold.eot");
  src: local("TT Interfaces ExtraBold"), local("TTInterfaces-ExtraBold"), url("../fonts/TTInterfaces-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/TTInterfaces-ExtraBold.woff2") format("woff2"), url("../fonts/TTInterfaces-ExtraBold.woff") format("woff"), url("../fonts/TTInterfaces-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "TT Interfaces";
  src: url("../fonts/TTInterfaces-Bold.eot");
  src: local("TT Interfaces Bold"), local("TTInterfaces-Bold"), url("../fonts/TTInterfaces-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/TTInterfaces-Bold.woff2") format("woff2"), url("../fonts/TTInterfaces-Bold.woff") format("woff"), url("../fonts/TTInterfaces-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #A7A7C8;
  line-height: 1;
  font-family: "TT Interfaces";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "TT Interfaces";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background: #050622;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  position: relative;
  z-index: 5;
  max-width: 85.125rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 2rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.h2 {
  font-weight: 800;
  font-size: 2.25rem;
  line-height: 127.7777777778%;
  color: #fff;
}

.h3 {
  font-weight: 500;
  font-size: 1rem;
  line-height: 125%;
  color: inherit;
}

.h4 {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 121.4285714286%;
  color: inherit;
}

.color-gradient {
  background: -o-linear-gradient(330.64deg, #18BAFF 19.35%, #4500D9 126.51%);
  background: linear-gradient(119.36deg, #18BAFF 19.35%, #4500D9 126.51%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn {
  display: inline-block;
  border-radius: 5px;
  font-size: 0.875rem;
  line-height: 128.5714285714%;
  padding: 12px 22px;
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.btn__purple {
  background: #564FFF;
  border: 1px solid #564FFF;
  text-transform: uppercase;
}

.btn__border {
  border: 1px solid #564FFF;
  background: rgba(86, 79, 255, 0.25);
}

.btn__gradient {
  background: -o-linear-gradient(343.86deg, #18BAFF 20.27%, #564FFF 78.28%);
  background: linear-gradient(106.14deg, #18BAFF 20.27%, #564FFF 78.28%);
}

.no-webp .header::before{
  background-image: url("../img/light.png"); }

.header::before {
  content: "";
  max-width: 100%;
  width: 100%;
  height: 100vh;
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 2.8125rem;
  padding-bottom: 3.3125rem;
}

.header__logo {
  font-weight: 800;
  font-size: 1.5625rem;
  line-height: 128%;
  color: #FFFFFF;
  margin-right: 0.3125rem;
  text-transform: uppercase;
}

.header__logo span {
  color: #18BAFF;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 5px 19px;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5625rem 0;
}

.footer__link {
  margin-bottom: 2.3125rem;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 25px;
  margin-bottom: 1.375rem;
}

.footer__copyrite {
  max-width: 350px;
  text-align: center;
}

.intro__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 25px;
  margin-bottom: 0.3125rem;
}

.intro__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 2 556px;
          flex: 0 2 556px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.intro__title {
  font-weight: 800;
  font-size: 3.5rem;
  line-height: 128.5714285714%;
  color: #fff;
}

.intro__subtitle {
  margin-bottom: 1.625rem;
}

.intro__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 774px;
          flex: 0 1 774px;
}

.intro__img img {
  width: 100%;
}

.stat__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px 47px;
}

.stat__item {
  display: block;
  -ms-flex-preferred-size: calc(50% - 25px);
      flex-basis: calc(50% - 25px);
}

.stat__subtitle {
  font-weight: 600;
}

.advantage__body {
  margin-bottom: 5.5rem;
}

.advantage__title {
  text-align: center;
  margin-bottom: 3.375rem;
}

.list-advantage__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 26px;
}

.list-advantage__item {
  padding: 3.375rem 3.375rem 3.6875rem 2.1875rem;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(27.07%, #1E2242), to(rgba(30, 34, 66, 0)));
  background: -o-linear-gradient(top, #1E2242 27.07%, rgba(30, 34, 66, 0) 100%);
  background: linear-gradient(180deg, #1E2242 27.07%, rgba(30, 34, 66, 0) 100%);
}

.list-advantage__img {
  width: 66px;
  margin-top: -5.3125rem;
  margin-bottom: 1.3125rem;
}

.list-advantage__title {
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 129.1666666667%;
  color: #FFFFFF;
  margin-bottom: 0.6875rem;
}

.platforms {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #0E112D), to(rgba(14, 17, 45, 0)));
  background: -o-linear-gradient(top, #0E112D 50%, rgba(14, 17, 45, 0) 100%);
  background: linear-gradient(180deg, #0E112D 50%, rgba(14, 17, 45, 0) 100%);
}

.platforms__body {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}

.platforms__title {
  text-align: center;
  margin-bottom: 3.875rem;
}

.platforms__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0 15px;
}

.platforms__imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 566px;
          flex: 0 1 566px;
  position: relative;
}

.platforms__imgs::before {
  content: "MENU";
  display: block;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 127.7777777778%;
  color: #9A9A9A;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.platforms__img:first-child {
  margin-right: 0.3125rem;
}

.platforms__img img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.platforms__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 2 578px;
          flex: 0 2 578px;
  padding-top: 2.1875rem;
}

.content-platforms__title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 800;
  font-size: 2rem;
  line-height: 128.125%;
  color: #fff;
  margin-bottom: 0.6875rem;
}

.content-platforms__title img {
  margin-left: 1.1875rem;
}

.content-platforms__subtitle {
  margin-bottom: 1.3125rem;
}

.content-platforms__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1.875rem;
}

.content-platforms__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-platforms__item:first-child {
  display: block;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 122.2222222222%;
  color: #fff;
  margin-bottom: 0.6875rem;
}

.content-platforms__item:not(:first-child) {
  margin-bottom: 0.3125rem;
}

.content-platforms__item:not(:first-child)::before {
  content: "";
  display: block;
  min-width: 5px;
  min-height: 5px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #A7A7C8;
  margin-right: 0.625rem;
}

.content-platforms__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 24px;
}

.content-platforms__btn {
  padding: 1.1875rem 4.0625rem;
}

.content-platforms__p a {
  color: #564FFF;
}

.tariffs__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5rem 0;
}

.tariffs__title {
  text-align: center;
  margin-bottom: 2.5rem;
}

.tariffs__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 18px;
  margin-bottom: 2.5rem;
}

.tariffs__btn {
  width: 169px;
  padding: 18px 25px;
}

.list-tariffs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 16px 14px;
}

.list-tariffs__item {
  min-width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list-tariffs__item:first-child .list-tariffs__ul .list-tariffs__li:last-child {
  color: #fff;
}

.list-tariffs__item:nth-child(2) .list-tariffs__title {
  color: #FFB800;
}

.list-tariffs__item:nth-child(2) .list-tariffs__ul .list-tariffs__li:last-child {
  color: #FFB800;
}

.list-tariffs__item:nth-child(2) .list-tariffs__day {
  color: #FFB800;
}

.list-tariffs__item:last-child .list-tariffs__title {
  background: -o-linear-gradient(340.43deg, #FF2525 17.14%, #FF3636 81.72%);
  background: linear-gradient(109.57deg, #FF2525 17.14%, #FF3636 81.72%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.list-tariffs__item:last-child .list-tariffs__ul .list-tariffs__li:nth-child(6) {
  background: -o-linear-gradient(340.43deg, #FF2525 17.14%, #FF3636 81.72%);
  background: linear-gradient(109.57deg, #FF2525 17.14%, #FF3636 81.72%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.list-tariffs__item:last-child .list-tariffs__ul .list-tariffs__li:last-child {
  background: -o-linear-gradient(340.43deg, #FF2525 17.14%, #FF3636 81.72%);
  background: linear-gradient(109.57deg, #FF2525 17.14%, #FF3636 81.72%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.list-tariffs__item:last-child .list-tariffs__day {
  background: -o-linear-gradient(340.43deg, #FF2525 17.14%, #FF3636 81.72%);
  background: linear-gradient(109.57deg, #FF2525 17.14%, #FF3636 81.72%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.list-tariffs__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1.0625rem;
}

.list-tariffs__icon img {
  height: 28px;
  -o-object-fit: contain;
     object-fit: contain;
}

.list-tariffs__icon img:not(:last-child) {
  margin-right: 1.125rem;
}

.list-tariffs__body {
  width: 100%;
  height: 378px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: -webkit-gradient(linear, left top, left bottom, from(#1E2242), to(rgba(30, 34, 66, 0)));
  background: -o-linear-gradient(top, #1E2242 0%, rgba(30, 34, 66, 0) 100%);
  background: linear-gradient(180deg, #1E2242 0%, rgba(30, 34, 66, 0) 100%);
  border-radius: 5px;
  padding: 1.4375rem 1.5625rem 1.9375rem 1.5625rem;
}

.list-tariffs__title {
  font-weight: 800;
  font-size: 1.875rem;
  line-height: 130%;
  color: #fff;
  text-align: center;
  margin-bottom: 1rem;
}

.list-tariffs__li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.3125rem;
}

.list-tariffs__li::before {
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  background: #A7A7C8;
  border-radius: 50%;
  margin-right: 0.9375rem;
}

.list-tariffs__footer {
  text-align: center;
}

.list-tariffs__price {
  margin-bottom: 0.625rem;
}

.list-tariffs__link {
  display: inline-block;
  width: 100%;
  padding: 1.6875rem 1.875rem;
  text-align: center;
}

.questions__body {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.questions__title {
  text-align: center;
  margin-bottom: 2.6875rem;
}

.questions__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 18px 0;
}

.questions__item {
  max-width: 1102px;
  width: 100%;
  padding: 1.875rem 2.1875rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#1E2242), to(#1E2242));
  background: -o-linear-gradient(top, #1E2242 0%, #1E2242 100%);
  background: linear-gradient(180deg, #1E2242 0%, #1E2242 100%);
  border-radius: 5px;
}

.questions__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.questions__name {
  color: #fff;
  margin-right: 0.625rem;
}

.questions__btn {
  width: 24px;
  height: 22px;
  position: relative;
}

.questions__btn span {
  display: block;
  width: 24px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.questions__btn span:last-child {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

._spoller-active .questions__btn span:last-child {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

.questions__footer {
  margin-top: 1.125rem;
}

@media (min-width: 61.99875em) {
  .btn__purple:not(._active):hover {
    background: rgba(0, 0, 0, 0);
  }

  .btn__border:not(._active):hover {
    background: #564FFF;
  }

  .btn__gradient:not(._active):hover {
    background: -o-linear-gradient(343.86deg, #18BAFF 30.27%, #564FFF 50.28%);
    background: linear-gradient(106.14deg, #18BAFF 30.27%, #564FFF 50.28%);
  }

  .platforms__imgs::before {
    display: none;
  }

  .content-platforms__title img {
    display: none;
  }

  .content-platforms__p a:hover {
    text-decoration: underline !important;
  }
}

@media (max-width: 61.99875em) {
  .h2 {
    font-size: 2rem;
  }

  .intro__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 8px 0;
    margin-bottom: 3.1875rem;
  }

  .intro__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .intro__title {
    font-size: 3rem;
    margin-bottom: 0.5rem;
  }

  .intro__img {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .stat__item {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }

  .advantage__body {
    margin-bottom: 4.6875rem;
  }

  .advantage__body {
    margin-bottom: 4.0625rem;
  }

  .list-advantage__item {
    padding: 2.9375rem 2.375rem 2.9375rem 1.875rem;
  }

  .platforms__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 39px 0;
  }

  .platforms__wrapper--noRewerse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .platforms__img {
    padding-top: 3.125rem;
  }

  .platforms__content {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .content-platforms__list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 47.99875em) {
  .h2 {
    font-size: 1.75rem;
  }

  .header__body {
    padding-top: 2.1875rem;
    padding-bottom: 2.8125rem;
  }

  .intro__title {
    font-size: 2.5rem;
  }

  .list-advantage__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .list-advantage__item {
    max-width: 440px;
  }

  .list-advantage__img {
    width: 57px;
  }

  .platforms__title {
    margin-bottom: 2.625rem;
  }

  .platforms__img {
    width: 100%;
  }

  .platforms__img:first-child {
    display: none;
  }
}

@media (max-width: 29.99875em) {
  .h2 {
    font-size: 1.625rem;
  }

  .h3 {
    font-size: 0.875rem;
  }

  .header__body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 1.25rem;
    padding-bottom: 2.6875rem;
  }

  .header__logo {
    display: none;
  }

  .menu__list {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10px 5px;
  }

  .intro__title {
    font-size: 2.125rem;
  }

  .advantage__body {
    margin-bottom: 1.5625rem;
  }

  .content-platforms__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 16px 0;
  }

  .tariffs__btn {
    width: auto;
  }

  .list-tariffs__item {
    min-width: 290px;
  }
}

.webp .header::before{ background-image: url(../img/light.webp); }